<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="/common/requireJS/require.js"></script>
  <script type="text/javascript" src="/delay/require-config.js"></script>
</head>
<body>
<div class="" ng-controller='indexController'>
    <h1>{{name}}{{action}}</h1>
</div>
<script type="text/javascript">
  require(['index/controllers/indexController.js'], function (app) {
      app.init();
  })
</script>
</body>
</html>
